body {
  font-size: 14px !important;
  line-height: 22px !important;
  font-family: Helvetica Neue, Helvetica, Arial !important;
  background: #f4f4f4 url('http://backbonejs.org/docs/images/background.png') !important;
}
#content > img {
	float: left !important;
	padding-right: 20px !important;
	padding-bottom: 10px !important;
}
header {
	border: 0px;
}
a:-webkit-any-link {
	text-decoration: underline !important;
	cursor: auto !important;
}
a {
	text-decoration: underline !important;
	cursor: pointer !important;
}
.extra {
	padding-left: 0px !important;
	text-decoration: underline;
}
.twitter {
	padding-top:20px !important;
}
#nav a{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
}
#nav {
  background: #fff !important;
  position: fixed !important;
  top: 0 !important; left: 0 !important; bottom: 0 !important;
  width: 200px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  padding: 15px 0 30px 30px !important;
  border-right: 1px solid #bbb !important;
  box-shadow: 0 0 20px #ccc !important; -webkit-box-shadow: 0 0 20px #ccc !important; -moz-box-shadow: 0 0 20px #ccc !important;
}
  #nav a, #nav a:visited {
	display: block !important;
	color: black !important;
	font-weight: bold !important;
	margin-top: 15px !important;
  }
	#nav a:hover {
	  text-decoration: underline !important;
	}
	#nav .version {
	  font-size: 10px !important;
	  font-weight: normal !important;
	}
  #nav ul {
	font-size: 11px !important;
	line-height: 14px !important;
	padding-left: 0px !important;
	list-style-type: none !important;
	font-family: Lucida Grande !important;
  }
  #nav>ul>li>a {
	text-decoration: underline !important;
  }
  #nav >ul>li>ul {
	padding-left:10px !important;
  }
  #nav>ul {
	margin: 0px !important;
  }
	#nav li {
	  cursor: pointer !important;
	  margin: 0 0 3px 0 !important;
	}
	  #nav a {
		text-decoration: none !important;
		color: black !important;
		padding: 0px !important;
	  }
		#nav a:hover {
		  text-decoration: underline !important;
		  background: white !important;
		}
#content {
  position: relative !important;
  margin-right: 0px;
  max-width: 100%;
}
div.run {
  position: absolute !important;
  right: 15px !important;
  width: 26px !important; height: 18px !important;
  background: url('img/arrows.png') no-repeat -26px 0 !important;
}
  div.run:active {
	background-position: -51px 0 !important;
  }
#content p {
	padding-bottom: 0px !important;
}
p, #content ul {
  margin: 25px 0 !important;
  width: 550px !important;
}
  p.warning {
	font-size: 12px !important;
	line-height: 18px !important;
	font-style: italic !important;
  }
  #content ul {
	list-style: circle !important;
	padding-left: 15px !important;
	font-size: 13px !important;
	line-height: 18px !important;
  }
	#content ul li {
	  margin-bottom: 10px !important;
	}
	#content ul.small {
	  font-size: 12px !important;
	}
a, a:visited {
  color: #444 !important;
}
a:active, a:hover {
  color: #000 !important;
}
a.punch {
  display: inline-block !important;
  background: #4162a8 !important;
  border-top: 1px solid #38538c !important;
  border-right: 1px solid #1f2d4d !important;
  border-bottom: 1px solid #151e33 !important;
  border-left: 1px solid #1f2d4d !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  border-radius: 4px !important;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111 !important;
  -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111 !important;
  -ms-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111 !important;
  -o-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111 !important;
  box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111 !important;
  color: #fff !important;
  font: bold 14px "helvetica neue", helvetica, arial, sans-serif !important;
  line-height: 1 !important;
  margin-bottom: 15px !important;
  padding: 8px 0 10px 0 !important;
  text-align: center !important;
  text-shadow: 0px -1px 1px #1e2d4d !important;
  text-decoration: none !important;
  width: 225px !important;
  -webkit-background-clip: padding-box !important; }
  a.punch:hover {
	-webkit-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111 !important;
	-moz-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111 !important;
	-ms-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111 !important;
	-o-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111 !important;
	box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111 !important;
	cursor: pointer !important; }
  a.punch:active {
	-webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111 !important;
	-moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111 !important;
	-ms-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111 !important;
	-o-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111 !important;
	box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111 !important;
	margin-top: 5px !important; margin-bottom: 10px }
a img {
  border: 0 !important;
}
h1, h2, h3, h4, h5, h6 {
  padding-top: 20px !important;
}
  h2 {
	font-size: 22px !important;
  }
b.header {
  font-size: 18px !important;
  line-height: 35px !important;
}
span.alias {
  font-size: 14px !important;
  font-style: italic !important;
  margin-left: 20px !important;
}
table {
  margin: 15px 0 0 !important; padding: 0 !important;
}
  tr, td {
	margin: 0 !important; padding: 0 !important;
  }
	td {
	  padding: 0px 15px 5px 0 !important;
	}
code, pre, tt {
  font-family: Monaco, Consolas, "Lucida Console", monospace !important;
  font-size: 12px !important;
  line-height: 18px !important;
  font-style: normal !important;
}
  tt {
	padding: 0px 3px !important;
	background: #fff !important;
	border: 1px solid #ddd !important;
	zoom: 1 !important;
  }
  code {
	margin-left: 20px !important;
  }
  pre {
	font-size: 12px !important;
	padding: 2px 0px !important;
	border: 4px solid #bbb !important; border-top: 0 !important; border-bottom: 0 !important;
	margin: 0px 0 25px !important;
  max-width: 550px !important;
  }
  img.example_image {
	margin: 0px auto !important;
  }
  
  
  
  
  
  
  
  #nav #sections {
	margin-bottom: 0px !important;
	border-bottom: none !important;
	background: #fff !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
  }
  
  #nav #sections > li{
   border-top: none !important;
   border-bottom: none !important;
  }
  
  #content pre code {
	padding: 0px !important;
	border: 0px !important;
	background: none !important;
	font-size: 12px;
  }
  
  #content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
	font-weight: bold !important;
  }
 
.run { 
	position: absolute;
	right: 15px;
	width: 26px;
	height: 18px;
	background: url('img/arrows.png') no-repeat -26px 0;
}